<!-- En este componente están los nav bars-->

<div *ngIf="isLoggedin; then navbarIndex"></div>
<ng-template #navbarIndex>
  <nav class="navbar navbar-expand-sm navbar-inverse navbar-fixed-top ">
    <ul class="navbar-nav mr-auto">
      <div>
        <a href="/">
          <img class="card-img-top img-fluid resize" src="../../assets/images/logo1.jpg" style="width:80px;height:60px"
            alt="Card image cap" />
          <a class="navbar-brand" href="catalogo.html"></a>
        </a>
      </div>
    </ul>
    <div>
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-primary" href="/signin"><span
            class="glyphicon glyphicon-user mr-3"></span>{{ "inicio.sesion" | translate }}</a>
      </form>
    </div>
  </nav>
</ng-template>

<div *ngIf="!isLoggedin && loginType == 'doctor'; then navbarDoctor"></div>
<ng-template #navbarDoctor>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/doctor">
      <img class="card-img-top img-fluid resize" src="../../assets/images/logo2.png" style="width: 6rem;"
        alt="Card image cap" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white">
            {{correo}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/doctor">
              {{ "account" | translate }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="salir()">
              {{ "salir" | translate }}</a>
          </div>
        </li>
      </form>
    </div>
  </nav>
</ng-template>

<div *ngIf="!isLoggedin && loginType == 'paciente'; then navbarPaciente"></div>
<ng-template #navbarPaciente>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="/paciente">
      <img class="card-img-top img-fluid resize" src="../../assets/images/logo2.png" style="width: 6rem;"
        alt="Card image cap" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      (click)="toggleNavbar()" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ show: navbarOpen }" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="color: white">
            Esteban Cortés Lozano
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!--
    <a class="dropdown-item" href="registropaciente.html">Mi cuenta</a>
                <div class="dropdown-divider"></div>
    
                -->

            <a class="dropdown-item" href="/agendarcita">
              {{ "agendar.cita" | translate }}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/ingresarestudio">
              {{ "estudio" | translate }}</a>
            <a class="dropdown-item">
              {{ "salir" | translate }}</a>
          </div>
        </li>
      </form>
    </div>
  </nav>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</ng-template>