<div id="sign">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()" [formGroup]="formLogin">
    <a class="navbar-brand" href="catalogo.html"></a>
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">
      {{ "inicio.sesion" | translate }}
    </h1>
    <input
      name="email"
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="{{ 'email' | translate }}"
      required=""
      autofocus=""
      [(ngModel)]="loginKeys.email"
      formControlName="email"
      />
      <input
      name="password"
      type="password"
      id="inputPassword"
      class="form-control"
      placeholder="{{ 'password' | translate }}"
      required=""
      [(ngModel)]="loginKeys.password"
      formControlName="password"
    />

    <label *ngIf="estado" style="color: red">Datos incorrectos</label>
    

    <button class="btn btn-success btn-block" type="submit" id="btn-signup">
      <i class="fas fa-user-plus"></i> {{ "inicio.sesion" | translate }}
    </button>

    <a href="#" id="forgot_pswd">{{ "olvidaste.password" | translate }}</a>
    <hr />

    <!-- <p>Don't have an account!</p>  -->
    <a href="/registrodoctor">
      <button class="btn btn-primary btn-block" type="button" id="btn-signup">
        <i class="fas fa-user-plus"></i> {{ "registrar.doctor" | translate }}
      </button>
    </a>
    <a href="/registropaciente">
      <button
        class="btn btn-secondary btn-block"
        type="button"
        id="btn-signup"
        href="registropaciente"
      >
        <i class="fas fa-user-plus"></i>{{ "registrar.paciente" | translate }}
      </button>
    </a>
  </form>
  <br />
</div>
