

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  
  header.img {
    position: relative;
    background-color: #343a40;
    background: url('../../assets/images/doctor-wallpaper.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  header.img .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  @mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:darken($bg,8%);
      transition: all 0.3s ease;
    }
    &:active {
      background:darken($bg,25%);
    } 
  }
  
  header.img h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    header.img {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.img h1 {
      font-size: 3rem;
    }
  }
  .topDrs {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .topDrs .topDrs-item {
    max-width: 18rem;
  }
  
  .topDrs .topDrs-img {
    min-height: 30rem;
    background-size: cover;
  }

  footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .btn btn-primary{
    @include button-bg(#2ecc71);
  }



  div.image-logo-about {
    background:url('../../assets/images/doctor_online_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }




  
  div.image-logo-header {
    background:url('../../assets/images/doctor_online_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  div.first-slide{
    background:url('../../assets/images/wallpaper-1.jpg');
    
  }
  div.second-slide{
    background:url('../../assets/images/wallpaper-2.jpg');
   
  }
  div.third-slide{
    background:url('../../assets/images/wallpaper-3.jpg');
   
  }

  div.div-carrousel{
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center; 
  }