<!-- <app-navbar-index></app-navbar-index> -->

<div class="container">
  <h1 style="text-align: center"> {{ "registro.medico" | translate }}</h1>
  <form class="form-signin" [formGroup]="formRegistro">
    <div class="form-group">
      <label for="inputAddress">{{ "nombre" | translate }}</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="{{ 'nombre' | translate }}"
        formControlName="nombre"
        />
      </div>
      
      <div class="form-group">
        <label for="inputAddress">{{ "apellidos" | translate }}</label>
        <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="{{ 'apellidos' | translate }}"
        formControlName="apellido"
        />
      </div>
      
      <div class="form-group">
        <label for="inputAddress">{{ "phone" | translate }}</label>
        <input
        type="number"
        class="form-control"
        id="inputNumber"
        placeholder="{{ 'phone' | translate }}"
        formControlName="numero"
        />
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputEmail4">{{ "email" | translate }}</label>
        <input
        type="email"
          class="form-control"
          id="inputEmail4"
          placeholder="{{ 'email' | translate }}"
          formControlName="email"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">{{ "password" | translate }}</label>
          <input
          type="password"
          class="form-control"
          id="inputPassword4"
          placeholder="{{ 'password' | translate }}"
          formControlName="password"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword4">{{ "confirmar.password" | translate }}</label>
        <input
        type="password"
        class="form-control"
        id="inputPassword4"
        placeholder="{{ 'confirmar.password' | translate }}"
        
        />
      </div>
      <div class="form-group">
        <label for="inputAddress">{{ "address" | translate }}</label>
        <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="1234 Main St"
        
      />
    </div>

    <div>
      {{ "genero" | translate }}<br />
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio1"
          value="option1"
        />
        <label class="form-check-label" for="inlineRadio1">{{
          "masculino" | translate
        }}</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="inlineRadio2"
          value="option2"
        />
        <label class="form-check-label" for="inlineRadio2">{{
          "femenino" | translate
        }}</label>
      </div>
    </div>
    <br />

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">{{ "ciudad" | translate }}</label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          placeholder="{{ 'ciudad' | translate }}"
          formControlName="ciudad"
          />
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">{{ "estado" | translate }}</label>
          <input
          type="text"
          class="form-control"
          id="inputState"
          placeholder="{{ 'estado' | translate }}"
          />
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">CP</label>
          <input
          type="text"
          class="form-control"
          id="inputZip"
          placeholder="CP"
          formControlName="cp"
        />
      </div>
    </div>

    <a>
      <button class="btn btn-primary" type="button" id="btn-signup" (click)="registroDoctorFirebase()">
        <i class="fas fa-user-plus"></i> {{ "next" | translate }}
      </button>
    </a>
  </form>
</div>
