<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="/doctor">
    <img
      class="card-img-top img-fluid resize"
      src="../../assets/images/logo2.png"
      style="width: 6rem;"
      alt="Card image cap"
    />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="color: white"
        >
          Dr. Juán Carlos Alvarez
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/doctor">{{
            "account" | translate
          }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="salir()">fasdfsa{{ "salir" | translate }}</a>
        </div>
      </li>
    </form>
  </div>
</nav>
