<body>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="col-12">
    <label for="exampleFormControlSelect1">{{
      "especialidades" | translate
    }}</label>
    <select class="form-control" id="exampleFormControlSelect1" (change)="cambio($event.target.value)">
      <option value="0">{{ "Todos" | translate }}</option>
      <option value="1">{{ "Pediatria" | translate }}</option>
      <option value="2">{{ "Ginecologia" | translate }}</option>
      <option value="3">{{ "Dentista" | translate }}</option>
      <option value="4">{{ "Neurologia" | translate }}</option>
      <option value="5">{{ "Dermatologia" | translate }}</option>
      <option value="6">{{ "Cardiologia" | translate }}</option>
    </select>
  </div>
  <div class="container mt-5 pt-5 col-12">
    <div class="row card-group">
      <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor="let doctor of doctors">
        <div class="card">
          <div class="card-header">{{ doctor.nombre }}</div>
          <img class="img-fluid img-card-list-doctor" src="{{ doctor.img }}" alt="topDr1" />
          <div class="card-body">
            <p class="card-text">
              {{ doctor.name }} {{ doctor.descripcion | translate }}
            </p>
          </div>
          <div class="card-footer text-muted">
            {{ "valoracion" | translate }}: {{ doctor.valoracion }}/5
          </div>
        </div>
      </div>
    </div>
  </div>
</body>